@import "../../../../core/static/core/css/_base.sass"

// Login page
// Overwrite the default jazzmin app login page styles
.jazzmin-page
    background: $color-white

    img
        width: 100px

    .card-body
        background: $color-purple
        color: $color-purple-dark

// Dahsboard
// Overwrite the default jazzmin app dashboard styles
.content-wrapper
    background-color: $color-white

.brand-image
    width: auto !important
    height: 40px !important
    border-radius: 0 !important

a
    color: $color-purple-dark !important
    font-weight: bold
    duration: 0.2s

    &:hover
        color: $color-purple !important

[class*=sidebar-dark-]
    background-color: $color-purple-dark

    a
        color: $color-white !important

        &:hover
            color: $color-yellow !important

.btn-success, .btn-info, .btn-secondary, .btn-danger, .btn-primary

    &:hover, &:focus, &:active
        background-color: $color-black !important
        border-color: $color-black !important
        color: $color-white !important

.btn-success
    background-color: $color-yellow
    border-color: $color-yellow
    color: $color-black !important
    font-weight: bold

.btn-info, .btn-secondary
    background-color: $color-blue
    border-color: $color-blue
    color: $color-black !important
    font-weight: bold

.btn-primary, .btn-danger
    background-color: $color-purple-dark
    border-color: $color-purple-dark
    color: $color-white !important
    font-weight: bold

.select2-results__option--highlighted
    background-color: rgba($color-purple-dark, 0.5) !important

.nav-link.active
    background-color: $color-yellow !important
    color: $color-black !important
    transition-duration: 0.2s

    &:hover
        opacity: 0.8
        color: $color-black !important

// .collapsible-header:hover
//     background-color: rgba($color-purple-dark, 0.8) !important

input[type=checkbox], input[type=radio]
    accent-color: $color-purple-dark

.selector-chosen h2
    background-color: $color-purple-dark

.calendar td.selected a
    background-color: $color-purple-dark

.calendar caption, .clockbox h2
    background-color: $color-purple-dark
    color: $color-white

.clockbox a:hover
    background-color: $color-purple-dark
    color: $color-white !important

.select2-selection__choice
    background-color: $color-purple-dark !important
    color: $color-white !important

    .select2-selection__choice__display
        padding-right: 10px !important
        padding-left: 7px !important

    .select2-selection__choice__remove
        margin-left: 0 !important

// Fix dashboard responsive
@media screen and (max-width: 768px)

    .container-fluid > .row > div:nth-child(1)
        flex-direction: column !important

        h1
            margin-right: 0 !important
            padding-right: 0 !important

        ol
            margin-left: 0 !important
            padding-left: 0 !important

    .container-fluid > .row > div:nth-child(2)
        justify-content: flex-start !important

// Fix jazzmin sibar overflow 
.sidebar
    overflow: hidden !important

// Custom render media
.rendered-image, .rendered-video
    width: 100px
    height: auto

.rendered-icon
    width: 35px
    height: auto

#result_list td
    .field-logo, .field-image, .field-video, .field-audio, .field-icon
        text-align: left
